<!-- Div to contain our controls -->
<div class="row">
    <div class="col-md-12">
        <input id="userinput" name="userinput" type="text" required />
        <button class="btn btn-primary" name="calculatebutton" id="calculatebutton" type="button" onclick="checkInput()">Calculate</button>
    </div>
</div>

<!-- Div to display our results in. Is dynamically populated by calculate response handler in Calculator.js-->
<div id="resultContainer" class="row">

</div>
