<!-- Div to contain our controls -->
<div class="row">
    <div class="col-md-12">
        <input id="userinput" name="userinput" type="text" required />
        <button class="btn btn-primary" name="calculatebutton" id="calculatebutton" type="button" onclick="checkInput()">Calculate</button>
    </div>
</div>

<!-- Div to display our results in -->
<div id="resultContainer" class="row">

</div>

<div id="inputError" class="alert alert-danger alert-dismissible" hidden role="alert">
    <p>Invalid input. Please enter a comma separated list of numbers.</p>
</div>
