<!-- ko with: home -->
<div class="jumbotron">
    <h1>Developer Evaluation</h1>
    <p class="lead">Calculate stuff!</p>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_Calculator")
        @Html.Partial("_Modal")
    </div>
</div>

<!-- /ko -->
